.mx-auto {
    width: 80%;
    margin: auto;
}
body{
    margin: 0;
}
.nav {
    background-color: black;

    &__general {
        align-items: center;
        display: flex;
        justify-content: space-between;
        color: white;
        width: 80%;
        margin: auto;
        padding-bottom: 40px;
        padding-top: 40px;
        border-bottom: 1px solid gray;
        &__icon{
            .basket__modal{
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 998;
                &__general{
                    position: absolute;
                    top: 40px; 
                    right: 0;
                    width: 300px;
                    background-color: #fff;
                    padding: 1rem;
                    border-radius:8px;
                    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
                    z-index: 999;
                    color: black;
                }
            }
        }
        &__title {
            font-weight: bold;
            font-size: 25px;
        }

        &__list {
            ul {
                display: flex;
                list-style: none;
                gap: 50px;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    color: rgb(166, 108, 0);
                }
            }

        }
    }
}

.home {
    background-color: black;
}

.newProduct {
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 10px;

    &__general {
        &__new {
            letter-spacing: 40px;
        }
    }

    h1 {
        font-size: 80px;
        text-transform: uppercase;

    }

    img {
        width: 50%;
    }

    &__general__desc {
        width: 80%;
        line-height: 2;
    }

    button {
        a{
            text-decoration: none;
            color: white;
        }
        margin-top: 30px;
        padding: 10px 20px 10px 20px;
        background-color: rgb(216, 125, 74);
        border: none;
        color: white;
        font-size: 17px;
        cursor: pointer;

    }
    button:hover{
        background-color: rgb(245, 194, 99);
    }
}

.homeList {
    justify-content: space-between;
    display: flex;
    margin-top: 220px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    width: 80%;

    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: #f1f1f1;
        border-radius: 10px;
        width: 100%;
        height: 300px;
        position: relative;
        padding-bottom: 20px;

        img {
            width: 50%;
            position: absolute;
            top: -60px;
        }

        .title {
            margin-top: -55px;
            font-weight: 700;
            letter-spacing: 2px;
        }

        .shop {
            margin-top: 10px;
            font-size: 14px;
            color: gray;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            transition: color 0.3s;
            text-decoration: none;

            &:hover {
                color: orange;
            }
        }
    }
}

.mid {
    .hero-container {
        position: relative;
        width: 100%;
        height: 600px;
        /* İsteğe göre ayarla */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        overflow: hidden;
        background-color: rgb(229, 147, 96);

        display: flex;
        justify-content: end;
        border-radius: 10px;

    }

    .hero-bg-svg {
        position: absolute;
        top: -2%;
        left: -8%;
        /* transform: translateX(-50%); */
        /* width: 120%; */
        /* height: 100%; */
        /* z-index: 0; */
    }

    .hero-bg-img {
        width: 18%;
        position: absolute;
        top: 29%;
        left: 6%;
        /* transform: translate(-50%, -50%); */
        /* width: auto; */
        /* height: 80%; */
        /* z-index: 1;*/
    }

    .hero-text {
        position: relative;
        z-index: 2;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;

        /* Solda hizalar */
        &-detail {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;

            &-name {
                font-size: 52px;
                text-transform: uppercase;

            }

            button {
                a{
                    text-decoration: none;
                    color: white;
                }
                background-color: black;
                border: none;
                padding: 20px 40px;
                color: white;
                font-size: 16px;
                text-transform: uppercase;
                cursor: pointer;
            }
            button:hover{
                background-color: gray;
                a{
                    color: white;
                }
            }
        }
    }

    .hero-container-speaker {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 100px;
        border-radius: 10px;

        &-detail {
            padding-left: 100px
        }

        button {
            a{
                text-decoration: none;
                color: black;
            }
            background-color: transparent;
            border: none;
            padding: 20px 40px;
            font-size: 16px;
            text-transform: uppercase;
            cursor: pointer;
            border: 1px solid black;
        }
        button:hover{
            background-color: black;
            a{
                color: white;
            }
        }
    }

    .earphones {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 100px;

        &_img {

            width: 45%;

            img {
                width: 100%;
                border-radius: 10px;

            }
        }

        .earphones-text {
            background-color: rgb(230, 238, 238);
            position: relative;
            z-index: 2;
            width: 50%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            align-items: flex-start;
            gap: 50px;

            button {
                a{
                    text-decoration: none;
                    color: black;
                }
              
                background-color: transparent;
                border: none;
                padding: 20px 40px;
                font-size: 16px;
                text-transform: uppercase;
                cursor: pointer;
                border: 1px solid black;
                margin-top: 20px;


            }
            button:hover{
                background-color: black;
                a{
                    color: white;
                }
            }
        
        }
    }

}

.best {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;

    &-text {
        display: flex;
        width: 40%;
    }

    .earphones-text-detail {
        margin-top: auto;
        margin-bottom: auto;
    }

    .earphones-text-detail-description {
        margin-top: 30px;
        color: gray;
        line-height: 2;

    }

    &__image {
        width: 50%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;

    .mx-auto {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        margin-top: 50px;
    }

    &__general {
        width: 50%;
        margin-bottom: 50px;

        &__title {
            font-weight: 900;
            font-size: 24px;
            margin-bottom: 50px;
        }

        &__description {
            font-size: 16px;
            color: #f1f1f1;
            letter-spacing: 2px;
            margin-bottom: 50px;

        }
    }

    &__right {
        display: flex;
        justify-content: center;
        gap: 50px;
        width: 50%;

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover{
            color: rgb(245, 194, 99);
        }
    }
}

.category {
    &__top {
        background-color: black;
        color: white;
        font-size: 46px;
        text-transform: uppercase;

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
        }
    }

    &__products {
        .category__products__list {
            li {
                list-style: none;
                margin-top: 100px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    text-decoration: none;
                    color: black;
                    gap: 200px;

                    .category__products__list__img {
                        flex: 1;

                        img {
                            width: 100%;
                            border-radius: 12px;
                        }
                    }

                    .category__products__list__desc {
                        flex: 1;

                        &__detail {
                            width: 80%;

                            .title {
                                font-size: 40px;
                                text-transform: uppercase;
                            }

                            .description {
                                line-height: 1.8;
                                margin-top: 30px;
                            }

                            button {
                                padding: 10px 20px;
                                background-color: orange;
                                border: none;
                                color: white;
                                font-size: 20px;
                                margin-top: 30px;
                                cursor: pointer;
                            }

                                button:hover{
                                    background-color: rgb(245, 194, 99);
                                }                           
                        }
                    }
                }

                &:nth-child(even) a {
                    flex-direction: row-reverse;
                }
            }
        }

    }
}

.product {
    &__detail {
        display: flex;
        margin-top: 50px;

        &__image {
            width: 50%;

            img {
                width: 70%;
            }
        }

        &__description {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            &__title {
                font-weight: bold;
                font-size: 40px;
                text-transform: uppercase;
            }
            &__description{
                font-size: 21px;
                color: gray;
            }
            &__price{
                font-size: 21px;
                font-weight: bold;
            }
            &__quantity{
                display: flex;
                gap: 30px;
                &__l{
                    display: flex;
                    gap: 20px;
                    background-color: rgb(205, 205, 205);
                    padding: 10px 20px;
                    font-size: 21px;
                    align-items: center;
                    button{
                        cursor: pointer;
                        font-size: 21px;
                        border: none;
                        background-color: transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    button:hover{
                        color: orange;
                    }
                }
                &__r{
                    button{
                        padding: 20px 40px;
                        background-color: rgb(216, 125, 74);
                        border: none;
                        color: white;
                        font-size: 17px;
                        cursor: pointer;
                        font-size: 22px;
                    } button:hover{
                        background-color: rgb(245, 194, 99);
                    }
                   
                }
            }
        }
        &__bottom{
            display: flex;
            gap: 100px;
            &__features{
                margin-top: 30px;
                width: 80%;
                &__title{
                    font-weight: bold;
                    font-size: 44px;
                }
                &__desc{
                    font-size: 21px;
                    line-height: 1.5;

                }
            }
            &__box{
                width: 100%;
               margin-top: 30px;
               display: flex;
               flex-direction: column;
               align-items: center;
               ul{
                list-style: none;
                padding: 0;
                li{
                    display: flex;
                    gap: 30px;
                    font-size: 24px;
                    .quantity{
                        color: orange;
                    }
                }
               }
                
            }
        }
        
    }
    
}
.otherImages {
    display: flex;
    gap: 1.5rem;
    margin-top: 70px;
    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }
  
    .right {
      flex: 1.6;
  
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }
  
  }
  .alsoLike{

    &__product{
        display: flex;
        gap: 10px;
        width: 100%;
        &__detail{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                h2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            img{
                width: 100%;
            }
        }
        button {
            margin-top: 30px;
            padding: 10px 20px 10px 20px;
            background-color: rgb(216, 125, 74);
            border: none;
            color: white;
            font-size: 17px;
            cursor: pointer;
    
        }
        button:hover{
            background-color: rgb(245, 202, 122);
        }
    }
  }
  
  
.checkout{
    padding-bottom: 100px;
    background-color: aliceblue;
    padding-top: 30px;
    .colorful{
        color: orange;
        font-weight: bold;
    }
    .checkouts{
        display: flex;
        justify-content: space-between;
    }
   
    .main{
        width: 60%;
        padding: 30px;
        background-color: white;
        border-radius: 10px;
        margin-top: 30px;
        .billing{
            &__top{
                display: flex;
                justify-content: space-between;
                width: 100%;
               
                    &__name{
                        width: 40%;
                        input{
                            width: 100%;
                            font-size: 16px;
                            height: 30px;
                            border-radius: 10px;
                            border-color: #f1f1f1;
                            border: 1px solid #f1f1f1;
                            padding: 10px;
                        }
                        input:focus {
                            outline: 1px solid  rgb(245, 202, 122);
                          }
                          
                    }
                    &__mail{
                        width: 40%;
                        input{
                            width: 100%;
                            font-size: 16px;
                            height: 30px;
                            border-radius: 10px;
                            border-color: #f1f1f1;
                            border: 1px solid #f1f1f1;
                            padding: 10px;
                        }  input:focus {
                            outline: 1px solid  rgb(245, 202, 122);
                          }
                    }
                    &__phone{
                        width: 40%;
                        margin-top: 30px;
                        input{
                            width: 100%;
                            font-size: 16px;
                            height: 30px;
                            border-radius: 10px;
                            border-color: #f1f1f1;
                            border: 1px solid #f1f1f1;
                            padding: 10px;
                        }  input:focus {
                            outline: 1px solid  rgb(245, 202, 122);
                          }
                    }
            }
           
            
        }
        .shipping{
            margin-top: 40px;
            &__address{
                input{
                    width: 100%;
                    font-size: 16px;
                    height: 30px;
                    border-radius: 10px;
                    border-color: #f1f1f1;
                    border: 1px solid #f1f1f1;
                    padding: 10px;
                }  input:focus {
                    outline: 1px solid  rgb(245, 202, 122);
                  }
            }
            &__mid{
                display: flex;
                justify-content: space-between;
                width: 100%;
                &__zip{
                    width: 40%;
                    input{
                        width: 100%;
                        font-size: 16px;
                        height: 30px;
                        border-radius: 10px;
                        border-color: #f1f1f1;
                        border: 1px solid #f1f1f1;
                        padding: 10px;
                    }  input:focus {
                        outline: 1px solid  rgb(245, 202, 122);
                      }
                }
                &__city{
                    width: 40%;
                    input{
                        width: 100%;
                        font-size: 16px;
                        height: 30px;
                        border-radius: 10px;
                        border-color: #f1f1f1;
                        border: 1px solid #f1f1f1;
                        padding: 10px;
                    }  input:focus {
                        outline: 1px solid  rgb(245, 202, 122);
                      }
                }
                &__country{
                    width: 40%;
                    input{
                        width: 100%;
                        font-size: 16px;
                        height: 30px;
                        border-radius: 10px;
                        border-color: #f1f1f1;
                        border: 1px solid #f1f1f1;
                        padding: 10px;
                }  input:focus {
                    outline: 1px solid  rgb(245, 202, 122);
                  }}
            }
            
        }
        .paymentdetails{
            margin-top: 30px;

            &__top{
                display: flex;
                justify-content: space-between;
                &__check{
                    width: 40%;
                    &__group{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        &__e{
                            width: 100%;
                            font-size: 16px;
                            height: 30px;
                            border-radius: 10px;
                            border-color: #f1f1f1;
                            border: 1px solid #f1f1f1;
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            font-weight:500;
                        }
                        &__cash{
                            width: 100%;
                            font-size: 16px;
                            height: 30px;
                            border-radius: 10px;
                            border-color: #f1f1f1;
                            border: 1px solid #f1f1f1;
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            font-weight:500;
                        }
                    }
                }
            }
            &__content{
                    .e-money-inputs{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        div{
                            width: 40%;
                            input{
                                width: 100%;
                                font-size: 16px;
                                height: 30px;
                                border-radius: 10px;
                                border-color: #f1f1f1;
                                border: 1px solid #f1f1f1;
                                padding: 10px;
                            }  input:focus {
                                outline: 1px solid  rgb(245, 202, 122);
                              }
                        }
                    
                }
                
            }
        }
    }
    &__order {
       
        button{
            width: 100%;
            margin-top: 20px;
            padding: 20px;
            background-color: orange;
            border: none;
            color: white;
            cursor: pointer;
        }
        button:hover{
            background-color: rgb(245, 202, 122);
        }
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        margin-top: 30px;
        width: 25%; 
        height: fit-content;
    
        h2 {
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 20px;
        }
    
        .general {
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 18px;
          padding: 10px 0;
            margin-bottom: 20px;
          &__image {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            border-radius: 8px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
            }
          }
    
          &__mid {
            flex: 1;
            min-width: 0;
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            &__name {
              font-size: 16px;
              font-weight: 600;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
    
            &__price {
              font-size: 14px;
              color: gray;
            }
          }
    
          &__quantity {
            font-size: 16px;
            font-weight: 500;
            color: #555;
            flex-shrink: 0;
            text-align: right;
            min-width: 50px;
          }
        }
        .modal__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6); /* arka plan karartma */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
          }
          
          .modal__content {
            background: white;
            padding: 30px;
            border-radius: 12px;
            width: 400px;
            max-width: 90%;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
            text-align: center;
            .order__last {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                background-color: #f9f9f9;
                border-radius: 12px;
                margin-top: 20px;
                gap: 20px;
              
                &__item {
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  gap: 16px;
              
                  .modal__general {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    border-bottom: 1px solid rgb(205, 204, 204);
                    &__image {
                      width: 64px;
                      height: 64px;
                      border-radius: 8px;
                      overflow: hidden;
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                    }
              
                    &__mid {
                      flex: 1;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
              
                      &__name {
                        font-size: 16px;
                        font-weight: 600;
                        color: #333;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
              
                      div {
                        font-size: 14px;
                        color: #666;
                      }
                    }
              
                    &__quantity {
                      font-weight: 600;
                      font-size: 14px;
                      color: #333;
                    }
                  }
              
                  > div:last-child {
                    font-size: 14px;
                    color: #777;
                  }
                }
              
                &__total {
                  flex: 1;
                  background-color: #000;
                  color: #fff;
                  border-radius: 8px;
                  padding: 20px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-center;
                  font-size: 18px;
                  font-weight: bold;
              
                  div {
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 8px;
                    color: #bbb;
                  }
                }
              }
              
          }
        .total{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            &__general{
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                &__title{
                    color: gray;
                    font-weight: 100;
                }
                &__price{
                    font-weight: bold;
                }
                &__grand{
                    display: flex;
                    justify-content: space-between;
                    font-size: 20px;
                    .total__general__price__grand{
                        color: orange;
                        font-size: 20px;
                    }
                }
            }
        }
      }
      
}